<? $this->include('/base/header'); ?>
<div class="container">
    <h3>
        Nieuwe gebruiker aanmaken
    </h3>
    <form action="/register" method="post">
        <? $this->include('/base/messages'); ?>

        <input type="hidden" name="login" value="1">

        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="staticEmail" placeholder="your email address" name="userEmail" value="<? print $this->get('userEmail'); ?>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputName" class="col-sm-2 col-form-label">Naam</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="userName" value="<? print $this->get('userName'); ?>">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Wachtwoord</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" name="userPassword">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPasswordRepeat" class="col-sm-2 col-form-label">Herhaal wachtwoord</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPasswordRepeat" name="userPasswordRepeat">
            </div>
        </div>
        <button  class="btn btn-primary" onclick="submitRegisterForm()" id="registerButton">Registreren</button>
    </form>
    <br/>
    Heb je al een account, dan kan je deze <a href="/login/">hier inloggen</a><br/>
</div>

<? $this->include('/base/footer'); ?>

